* {
    font-family: 'Bangers', cursive;
}

/* BACKGROUND IMAGE */
.fight-background {
    background-image: url(../images/marvel-black\ and\ white.jpg);
    background-size: cover;
}

/* BACKGROUND CARD IMAGE */
.card-background {
    background-image: url(../images/card-black-white-half-tone-fight.jpg);
    background-size: cover;  
}

/* ADDED LARGER FONT, COLOR AND LETTER SPACING TO H1 */
h1 {
    font-size: larger;
    letter-spacing: .3rem;
    color: black!important;
}

/* ADDED PADDING TO GO BACK BUTTON */
#go-back-button {
    padding: 30px!important;
}

/* CENTERING THE BUTTON AND COLUMNS */
.button-center,
.column {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ADDING BACKGROUND COLOR TO WINNER CARD AND NAVBAR */
.navbar
.winner-card {
    background-color: whitesmoke!important;
}

