* {
    font-family: 'Bangers', cursive;


}

/* .fight-background {
    background-image: url(../../assets/images/images-pg-2/card-background.jpg);
    background-size: cover;
} */

h1 {
    font-size: larger;
    letter-spacing: .3rem;
    color: black!important;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 275px;
    height: 350px;
}
.winner {
    padding-top: 10px;
}

/* .media-content {
    opacity: .85;

} */

/* TODO: I may design a background for our app if time permits. */
