* {
    font-family: 'Bangers', cursive;


}

/* .fight-background {
    background-image: url(../../assets/images/images-pg-2/card-background.jpg);
    background-size: cover;
} */

h1 {
    font-size: larger;
    letter-spacing: .3rem;
    color: black!important;
}

#go-back-button {
    padding: 30px!important;
}

.button-center,
.column {
    display: flex;
    justify-content: center;
    align-items: center;
}

.winner-card {
    background-color: whitesmoke!important;
}

/* TODO: I may design a background for our app if time permits. */
