* {
    font-family: 'Bangers', cursive;
}

/* Index Style Page  */
.card-header {
    text-align: center;
    font-size: 50px;
    padding: 20px;
    padding-top: 0px;
    color: blue;
}

.button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}
